body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background-color: black;
    min-height: 72px;
    color: #fff;
}

#logo {
    width: 48px;
    height: 48px;
    float: left;
    background-color: darkred;
    margin: 12px;
}

#bannerText {
    font-size: 24px;
    line-height: 72px;
}

#nav {
    background-color: whitesmoke;
    border-bottom: 1px solid #ccc;
}

#nav ul,
#nav li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav>ul {
    /*max-height: 48px;*/
    text-align: left;
}

#nav>ul>li {
    display: inline-block;
    position: relative;
}

.navLink {
    text-decoration: none;
    color: #000;
    line-height: 3;
    font-size: 10px;
    display: block;
    padding: 0 26px;
    box-sizing: border-box;
    transition: all .25s linear;
    text-align: center;
}

body.contact .navLink.contact,
body.home .navLink.home{
    background-color: #ccc;
}

#nav > ul > li:hover .navLink {
    background-color: darkred;
    color: #fff;
}

.subMenu {
    display: none;
    position: absolute;
    background-color: darkred;
    transition: all .5s ease;
}

.subMenu li {
    text-align: center;
}

.subMenu a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 3;
    padding: 0 10px;
    width: 150px;
    box-sizing: border-box;
    transition: all .25s ease;
}

.subMenu a:hover {
    background-color: #ccc;
    color: #000;
}

#nav > ul > li:hover .subMenu {
    display: block;

}


.content {
    font-size: 80%;
    padding:0 10px;
}

.main {

    box-sizing: border-box;
    padding: 10px;
}

.main h1 {
    margin-top: 5px;
}

.sidebar {


    padding: 10px;
    box-sizing: border-box;

}

@media(min-width: 800px)  {

   header {
       min-height: 144px;
   }

   #logo {
       height: 96px;
       width: 96px;
       margin: 24px;
   }

   #bannerText {
       line-height: 144px;
   }

   #nav ul {
       text-align: center;
   }

    .navLink {
        width: 150px;
        font-size: 12px;
        line-height: 4;
    }

    .content {
        font-size: 100%;
        padding: 0;
    }

    .main {
        float: left;
        width: 80%;
        box-sizing: border-box;
        padding: 10px 10px 10px 20px;
    }

    .main h1 {
        margin-top: 1em;
    }

    .sidebar {
        float: right;
        width: 20%;
        padding: 15px;
        box-sizing: border-box;
        background-color: lightgoldenrodyellow;
        font-size: 12px;
    }

}

